* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.nav-content {
  max-width: 1200px;
  margin: auto;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #cbd5f5;
}

.navbar nav a:hover {
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(120deg, #020617, #1e1b4b);
  display: flex;
  align-items: center;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* LEFT TEXT */
.hero-text h1 {
  font-size: 64px;
  font-weight: bold;
}

.role {
  color: #38bdf8;
  margin: 15px 0;
  font-size: 20px;
}

.desc {
  max-width: 480px;
  line-height: 1.7;
  opacity: 0.9;
  margin-bottom: 35px;
}

.btn {
  padding: 14px 34px;
  border: 1px solid #38bdf8;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #38bdf8;
  color: #020617;
}

/* RIGHT IMAGE */
.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 340px;
  border-radius: 12px;
  filter: grayscale(100%);
  opacity: 0.85;
}
